fastapi
uvicorn
python-multipart
python-dotenv
python-docx
pymongo
openai
google-generativeai
qdrant-client
langchain
langchain-community
langchain-openai
langchain-google-genai
pydantic
PyPDF2
python-jose[cryptography]
passlib[bcrypt]